.box {
    font-family: monospace;
    font-weight: 700;
    font-size: 2rem;
    height: 200px;
    width: 200px;
    display: grid;
    place-items: center;
    color: #fff;
}

.box:nth-child(5n+1) {background-color: #8F44AD;}
.box:nth-child(5n+2) {background-color: #2A80B9;}
.box:nth-child(5n+3) {background-color: #16A086;}
.box:nth-child(5n+4) {background-color: #E77E23;}
.box:nth-child(5n+5) {background-color: #F1C40F;}

.wrapper:nth-child(5n+1) {box-shadow: inset 0 0 0 1px #2a80b952;}
.wrapper:nth-child(5n+2) {box-shadow: inset 0 0 0 1px #8f44ad52;}
.wrapper:nth-child(5n+3) {box-shadow: inset 0 0 0 1px #16A08652;}
.wrapper:nth-child(5n+4) {box-shadow: inset 0 0 0 1px #E77E2352;}
.wrapper:nth-child(5n+5) {box-shadow: inset 0 0 0 1px #F1C40F52;}


.box {
    /* overflow: hidden;
    animation-name: rotar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

.box img {
    max-width: 100%;
    height: auto;
    transition: all 300ms ease, opacity 10s ease;
}

.box:hover img {
    transform: scale(1.2);
    opacity: 0.3;
    filter: contrast(.5) brightness(2);
}

.loader-wrapper {
    display: grid;
    place-items: center;
    height: 700px;
}

.loader-wrapper .loader {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.loader-wrapper .loader span {
    display: block;
    height: 25px;
    width: 25px;
    background-color: #2A80B9;
    border-radius: 100%;
    transform-origin: bottom center;
    animation: loader infinite alternate 10s both;
}
/*
.loader-wrapper .loader:hover span {
    animation-play-state: paused;
}


.loader-wrapper .loader:active span {
    animation-play-state: running;
} */

.loader-wrapper .loader span:nth-child(1) {animation-delay: 200ms;}
.loader-wrapper .loader span:nth-child(2) {animation-delay: 400ms;}
.loader-wrapper .loader span:nth-child(3) {animation-delay: 600ms;}

@keyframes loader {
    from {
        opacity: 1;
        /* transform: translateY(-80px) scale(1.3); */
    }
    to {
        opacity: 0;
        transform: translateY(-80px) scale(1.3);
    }
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
