.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid .item {
    grid-column: span 6;
}

.grid .item.item-3 {
    grid-column: span 3;
}

.grid .item.item-2 {
    grid-column: span 2;
}

.grid .item.item-7 {
    grid-column: span 7;
}

.grid .item.item-5 {
    grid-column: span 5;
}


.grid .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
