* {
    box-sizing: border-box;
}

:root {
    font-size: 14px;
}

body {
    font-family: "Space Mono", monospace;
    color: #3b3b3b;
    font-size: 1rem;
    line-height: 1.2;
    background-image: url(../assets/line.png);
    background-repeat: repeat;
}

body > main, body > footer, body > header  {
    padding: 0 1rem;
}

a {
    color: #5f2bfd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "BioRhyme", sans-serif;
    margin-top: 0;
}

/* Boxes */

.box {
    border: 1px solid #555;
    display: block;
    width: 50px;
    height: 50px;
}

.box.inline-block {
    display: inline-block;
}

.circle {
    border-radius: 100%;
}

.box.inline {
    display: inline;
}

.purple {
    background: #D27DBC;
}

.pale-cyan {
    background: #7AB7B9;
}

.green {
    background: #58C67A;
}

.card {
    padding: 1rem;
    background-color: #fff;
    color: #555;
    box-shadow: 0 1px 4px rgba(0,0,0,.08);
}

article > * + * {
    margin-top: 1rem;
}

article > h2 {
    margin-top: 2rem;
}

header nav  {
    padding: 1rem 0;
}

header nav a {
    font-size: 1rem;
}

nav ul li a,
nav ul li span {
    text-transform: capitalize;
    background-color: #58C67A;
    color: #333333;
    display: block;
    padding: 0.5rem 1rem;
    cursor: crosshair;
}

header nav a:hover,
header nav span:hover {
    background-color: #7fd89b;
    text-decoration: none;
}

header nav .active {
    font-weight: 700;
}

nav > ul > li {
    display: inline-block;
}

nav .submenu {
    position: relative;
}

nav .submenu ul {
    display: none;
    position: absolute;
    left: 0;
}

nav .submenu:hover > ul {
    display: block;
}

.whatsapp {
    background-color: #34B7F1;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: fixed;
    right: 1rem;
    bottom: 8rem;
    border-radius: 100%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25)

}