* { box-sizing: border-box; }
:root { font-size: 14px; }
body {  font-family: "Space Mono", monospace; background-color: #fcfcfc; color: #3b3b3b; font-size: 1rem; line-height: 1.2; background-repeat: repeat; }

/* Content */
a { color: #5f2bfd; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-family: "BioRhyme", sans-serif; margin-bottom: 1rem; }
p { font-size: 1rem; margin-bottom: 1rem; }
h1 { font-size: 3rem; }

/* Colors */
.purple { background: #D27DBC; }
.pale-cyan { background: #7AB7B9; }
.green { background: #58C67A; }

/* Layout */
.container { display: block; max-width: 1100px; margin: auto; padding-left: 1rem; padding-right: 1rem; }
.polygon-grid {display: none;}

/* Grids */
.article-layout-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    gap: 1rem;
    margin-bottom: 2rem;
}

.article-layout-grid .featured {
    grid-row: span 2;
    grid-column: span 2;
}

.article-layout-grid .super-featured {
    grid-row: span 2;
    background-color: rgba(0,0,0,.2);
}

.article-layout-grid article a {
    color: #3b3b3b;
    display: block;
}

.article-layout-grid article h2 {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.article-layout-grid article img {
    max-width: 100%;
    height: auto;
    margin-bottom: -3rem;
}

.article-layout-grid article .article-bottom {
    z-index: 2;
    position: relative;
    margin: 0 1rem;
    padding: 1rem;
    background-color: #fff;
    border-top: 5px solid #7AB7B9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.article-layout-grid article p {
    margin-top: 1rem;
    margin-bottom: 0;
    display: none;
}

.article-layout-grid article.featured p {
    display: block;
}

.article-layout-grid article.featured img {
    margin-bottom: -6rem
}

.article-layout-grid article.featured .article-bottom {
    margin: 0 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
    border-color: #fff;
    background-color: #7AB7B9;
    box-shadow: none;
}


/* Footer */
footer { padding-top: 2rem; padding-bottom: 2rem; }
footer p { text-align: center; margin-bottom: 0; }