@import "bootstrap/functions";

$mint: #67E0AD;
$strawberry: #c656c3;
$red: #ee4545;
$green: #2fb45b;


$light: #f3f2f7;
$dark: #1a1726;

$colors: (
    "mint": $mint,
    "strawberry": $strawberry
);

$primary: $mint;
$secondary: $strawberry;

$spacer: .5rem;
$spacers: (
    6: ($spacer * 5)
);

$body-bg: $light;
$body-color: $dark;

$link-color: $secondary;

$grid-breakpoints: (
    xs: 0,
    xsm: 365px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$grid-gutter-width: 60px;

@import './bootstrap/bootstrap.scss';